@media (max-width:426px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body,
    html {
        width: 100%;
        height: 100%;
    }
    .container {
        max-width: 540px;
    }
    /* Navbar */
    #navbar {
        width: 100vw;
        margin-right: 10rem;
        background-color: #333333;
        font-size: 1rem;
      }
      #navbar .logo {
          display: none;
      }
        #services .none {
        display: none;
      }
    
/* Hero */
.container {
    max-width: 540px;
}
/* Services */
.services-container {
    border: 2px #3d3d solid;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.service-box {
    border: 1px dotted #00923c;
    width: 100%;
    height: 10%;
}
/* Work */
#work .card-wrapper {
    border: 2px #3d3d solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* Hero */
header {
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
}

.hero h6 {
padding: 3rem 0;
padding-top: 6rem;
}
.hero .right {
padding-left: 1rem;
}
.hero .left {
display: none;
}
/* About */
#about {
    background: url(./images/man-2.png) no-repeat center center/cover;
}
#about .right p {
    color: burlywood;
}
#about .left {
    display: none;
}
#work {
    display: grid;
    grid-template-columns: (2,1fr);
}
#blog {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
}
#contact .card-wrapper {
    display: none;
}
}