@media (min-width: 768px) {
  .hero .left {
    display: none;
  }
  .hero .right {
    padding-top: 5rem;
    padding-left: 2rem;
  }
  span
  {
      display: block;
  }
  ul li{
      display: block;
  }
  ul{
      display: none;
  }
  .hero {
    margin-top: 10rem;
  }
  #services .none {
    display: none;
  }
}
  